NEXT_PUBLIC_SUPABASE_URL= DATABASE_URL
NEXT_PUBLIC_SUPABASE_ANON_KEY= ANON KEY
DATABASE_URL= "transaction type"
DIRECT_URL= "session type"
NEXT_PUBLIC_WEBSITE_URL= "dev: localhost:3000, prod: prod url of lenden"
NEXT_PUBLIC_BACKEND_URL= "dev: localhost:8000, prod: prod url of lenden pg backend"
