NEXT_PUBLIC_SUPABASE_URL= DATABASE_URL
NEXT_PUBLIC_SUPABASE_ANON_KEY= ANON KEY
DATABASE_URL= "transaction type"
DIRECT_URL= "session type"
NEXT_PUBLIC_PAYMENT_GATEWAY_URL= "dev: localhost:8000, prod: prod url of lenden pg backend"
NEXT_PUBLIC_DEPLOYMENT_URL= PROD || LOCALHOST


# PG Integration
X-ID= xid
X-SECRET= xSecret